/* style/style.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {

}

.nav {
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.course {
  padding: 10px;
  cursor: pointer;
}

.chapter-list {
  display: none;
  padding-left: 20px;
}

.chapter-list div {
  margin-bottom: 5px;
}

.chapter-list {
  margin-left: 20px; /* Lùi vào phải */
  display: none; /* Ẩn ban đầu */
}
.algebra {
  color: blue; /* Màu chữ xanh */
}
.geometry {
  color: blue; /* Màu chữ xanh */
}.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
@media (max-width: 800px) {
    #slideshow-container {
        margin-right: 0;
    }
}
.slideshow-container {
  padding:50px;
     padding-top:50px;
     padding-right:50px;
     padding-bottom:50px;
     padding-left: 50px;
  margin: 0 170px;
    margin-top : 0px;
    margin-right:180px;
    margin-bottom:0px;
    margin-left: 180px; 
  width: 100%;
  overflow: hidden;x
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.divfull {
  display: flex;
  
}

.div1, .div2 {
  display: inline-block;
  vertical-align: top;
}

.div1 {
  width: 30%;
}

.div2 {
  width: 70%;
}