/* style/style.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header{
  display: flex;
  height: 70px;
  background-color:#97cdea;
}

.logo{
  width: 10%;
}
.logo img{
  height: 70px;
  width: 70px;
  margin-left: 25%;
  border-radius: 50%;
}

.tenweb{
  text-align: center;
  width: 55%;
  margin-top: 17px;
  color:#0711cf;
  text-shadow: 0.2em 0.1em #333;
}

.timkiem{
  height: 50%;
  text-align: left;
  width: 25%;
  background-color: rgb(32, 6, 104);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

input {
  /*xóa các định dạng mặc định của input*/
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.8s ease;
  color: white;
  font-size: 15px;
  font-weight: 500px;
}
 
/*placeholder là ám chỉ cung cấp xem họ cần nhập gì trong input*/
input::placeholder {
  color: white;
}
 
a {
  color: white;
  text-align: center;
  width: 60px;
  font-size: 15px;
}
 
/*hover là bộ chọn dùng để chỉ phần tử đang được chuột chỉ vào*/
.timkiem:hover input {
  width: 200px;
  margin: 0 10px;
  border-bottom: 2px solid white;
}
 
input:focus {
  width: 200px;
  margin: 0 20px;
  border-bottom: 2px white;
}

form{
  margin-top: 17px;
  
}

.logo_login{
  width: 10%;
}

.logo_login img{
  margin-top: 10%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 25%;
}

.nav {
  background-color:#a9daf5;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.nav div a{
  text-decoration: none;
  color:#0711cf;
}

.course-list  {
  width: 100%;
  justify-content: center;
  padding: 10px;
}

#video-container {
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Sử dụng overflow: auto để hiển thị thanh cuộn khi cần */
}

#video1 {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Điều chỉnh chiều rộng nếu cần */
  height: 100%; /* Điều chỉnh chiều cao nếu cần */
  box-sizing: border-box;
  margin-top: 10%;
  z-index: 1;
}

.panel {
  margin: 0 10px;
  padding: 0 20px;
  display:none;
  background-color: #97cdea;
  overflow: auto; 
  max-height: 100%;
  transition: max-height 0.2s ease-out;
  border-radius: 20px;
}

.accordion {
  background-color: #97cdea;
  color: #000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.5s;
  border-radius: 20px;
  border-style: outset;
}

.active, .accordion:hover {
  background-color: #87e3de; 
  width: 100%; /* Chiều rộng cố định cho thẻ div */
  padding: 10px; /* Khoảng cách bên trong của thẻ div */
  display:flex;
  border-radius: 15px; /* Bo góc của thẻ div chính */
  text-align: center;
}

.dot .active .fade{
  width: 5px;
  height: 5px;
}

.divl h1{
  text-align: left;
  color:rgb(13, 66, 66);
  margin-left: 20px;
  border-style: outset;
}

.slideshow-container {
  padding: 5px;
  width: 100%;
  justify-content: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 0 10px;
  background-color: #52a0d0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0711cf;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8s;
}

.divr{
  width: 50%;
}

.divl{
  width: 50%;
}