* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 0px;
}
section{
  justify-content: space-around;

}

.header{
  display: flex;
  height: 11%;
  background-color:#97cdea;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo{
  width: 10%;
}
.logo img{
  height: 70px;
  width: 70px;
  margin-left: 25%;
  border-radius: 50%;
}

.tenweb{
  text-align: center;
  width: 55%;
  color:#0711cf;
  margin-top: 1%;
}

.tenweb h1{
  font-size: 40px;
  font-family: 'Montserrat',sans-serif;
}

.timkiem{
  height: 50%;
  text-align: left;
  width: 25%;
  background-color: rgb(32, 6, 104);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

input {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.8s ease;
  color: white;
  font-size: 15px;
  font-weight: 500px;
}
 
input::placeholder {
  color: white;
}
 
a {
  color: white;
  text-align: center;
  width: 60px;
  font-size: 15px;
}
 
.timkiem:hover input {
  width: 200px;
  margin: 0 10px;
  border-bottom: 2px solid white;
}
 
input:focus {
  width: 200px;
  margin: 0 20px;
  border-bottom: 2px white;
}

form{
  margin-top: 17px;
  
}

.logo_login{
  width: 10%;
}

.logo_login img{
  margin-top: 5%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 30%;
}

.nav {
  background-color:#a9daf5;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;  
  top: 80px; 
  left: 0;
  width: 100%;
  z-index: 998;
}

.nav div a{
  text-decoration: none;
  color:#0711cf;
}

.nav div a:hover {
  text-decoration: underline;
}

.course-list-1  {
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.course-list-2  {
  width: 100%;
  justify-content: center;
  padding: 10px;

}

.course-list-3  {
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.course-list-1 .panel{
  background-color: #87e3de;
}

.course-list-2 .panel{
  background-color: darksalmon;
}

.course-list-3 .panel{
  background-color: lightpink;
}

#video-container {
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
}

#video1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 10%;
  z-index: 1;
}

.panel {
  float: right;
  width: 75%;
  margin: 0 10px;
  padding: 10px;
  display:none;
  overflow: auto; 
  max-height: 100%;
  transition: max-height 0.2s ease-out;
  border-radius: 20px;
}

.panel h4{
  margin-left: 20px;
  color:#0711cf;
}

.panel li a{
  color: black;
  text-decoration: none;
}

.accordion {
  display: grid;
  color: #000;
  cursor: pointer;
  padding: 10px;
  width: 35%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.5s;
  border-radius: 20px;
  border-style: outset;
}

.course-list-1 .accordion{
  background-color: #87e3de;
}

.course-list-2 .accordion{
  background-color: darksalmon;
}

.course-list-3 .accordion{
  background-color: lightpink;
}

.active, .accordion:hover {
  background-color: #b4d2d1; 
  width: 25%;
  padding: 10px; 
  display:flex;
  border-radius: 15px;
  justify-content: center;
}

.dot .active .fade{
  width: 10px;
  height: 10px;
}

.divl h1{
  text-align: center;
  color:rgb(227, 31, 31);
  margin-left: 20px;
  border-style: outset;
  border-radius: 20px;
  margin: 0 10px;
  width: 35%;
}

.slideshow-container {
  padding: 5px;
  width: 100%;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #8fcbf1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 8s;
}

.divr{
  width: 50%;
}

.divl{
  width: 50%;
}

.login-options a {
  font-size: 20px; 
  font-weight: bold; 
  color: #050110fe; 
  border: 1px solid rgb(93, 199, 241);
  text-decoration: none;
  margin-left: 10%;
  border-radius: 5px;
  background-color: rgb(93, 199, 241);
}

.login-options a:hover {
  background-color: rgb(131, 241, 207);
  color: #2b1985; 
  border-style: outset;
}

.user-info button {
  font-size: 15px; 
  font-weight: bold; 
  color: #050110fe; 
  border: 1px solid rgb(93, 199, 241);
  text-decoration: none;
  margin-left: 20%;
  border-radius: 5px;
  background-color: rgb(93, 199, 241);
}

.user-info button:hover {
  background-color: rgb(131, 241, 207);
  color: #2b1985; 
  border-style: outset;
}
