.class-btn {
  display: inline-block;
  padding: 20px 40px; 
  font-size: 18px; 
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin: 20px; 
}

#test-area {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  display: none;
}

.class-row-3,.class-row-2,.class-row-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.class-row-3 .class-btn{
  border-radius: 25px;
  background-color: lightpink;
}

.class-row-2 .class-btn{
  border-radius: 25px;
  background-color: darksalmon;
}

.class-row-1 .class-btn{
  border-radius: 25px;
  background-color: #87e3de;
}