html {
    scroll-behavior: smooth;
}

body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
}

header {
    background-color:#97cdea;
}

.hero {
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

nav{
    background-color:#a7d6f0;
    height: 40px;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    width: 33.33%;  
    font-size: 30px;
    text-align: center;
}

nav ul li a{
    font-style: italic;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

img{
    height: 30px;
    width: 30px;
    margin-left: 25%;
    border-radius: 50%;
}

section{
    padding: 20px;
}

.container {
    background-color:#c1dfef;
    padding: 50px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container_ {
    background-color:#c1dfef;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ndung_{
    background-color:#e7f1f6;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 200px;
    width: 50%;
    text-align: center;
    margin: 50px;
    border-radius: 30px;
    overflow:hidden;
}

.ndung{
    display: flex;
}

.dbiet{
    margin-left: 30px;
}

header {
    height: 15%;
    background-color: #97cdea;
    width: 100%;
    top: 0;
    left:0;
}
  
.header{
    display: flex;
}
  
.logo{
    width: 10%;
}
  
.logo img{
    height: 70px;
    width: 70px;
    margin-left: 25%;
    border-radius: 50%;
}
  
.tenweb{
    text-align: center;
    width: 75%;
    color:#0711cf;
}
  
.tenweb h1{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
}
   
a {
    text-align: center;
    width: 20%;
    font-size: 15px;
}
  
.logo_login{
    width: 15%;
}
  
.logo_login img{
    margin-top: 3%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15%;
}
  
.nav {
    background-color:#a9daf5;
    padding: 10px 0;
    display: flex;
    justify-content: space-around; 
    left: 0;
    width: 100%;
}
  
.nav div a{
    text-decoration: none;
    color:#0711cf;
}
  
.nav div a:hover {
    text-decoration: underline;
}

button{
    height: 30px;
    text-align: center;
    border-radius: 25px;
  }
  
  .login-options a {
    font-size: 20px; 
    font-weight: bold; 
    color: #050110fe; 
    border: 1px solid rgb(93, 199, 241);
    text-decoration: none;
    margin-left: 3.5%;
    border-radius: 5px;
    background-color: rgb(93, 199, 241);
  }
  
  .login-options a:hover {
    background-color: rgb(131, 241, 207);
    color: #2b1985; 
    border-style: outset;
  }
  
  .user-info button {
    font-size: 15px; 
    font-weight: bold; 
    color: #050110fe; 
    border: 1px solid rgb(93, 199, 241);
    text-decoration: none;
    margin-left: 10%;
    border-radius: 5px;
    background-color: rgb(93, 199, 241);
  }
  
  .user-info button:hover {
    background-color: rgb(131, 241, 207);
    color: #2b1985; 
    border-style: outset;
  }
