body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1{
    color:rgb(36, 6, 144);
}

header {
    height: 15%;
    background-color: #97cdea;
    width: 100%;
    top: 0;
    left:0;
  }
  
  .header{
    display: flex;
    padding: 10px;
  }
  
  .logo{
    width: 10%;
  }
  
  .logo img{
    height: 70px;
    width: 70px;
    margin-left: 25%;
    border-radius: 50%;
  }
  
  .tenweb{
    text-align: center;
    width: 75%;
    color:#0711cf;
  }
  
  .tenweb h1{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
  }
   
  a {
    color: white;
    text-align: center;
    width: 20%;
    font-size: 15px;
  }
  
  .logo_login{
    width: 15%;
  }
  
  .logo_login img{
    margin-top: 3%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15%;
  }
  
  .nav {
    background-color:#a9daf5;
    padding: 10px 0;
    display: flex;
    justify-content: space-around; 
    left: 0;
    width: 100%;
  }
  
  .nav div a{
    text-decoration: none;
    color:#0711cf;
  }
  
  .nav div a:hover {
    text-decoration: underline;
  }

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Sử dụng overflow: auto để hiển thị thanh cuộn khi cần */
}

#video1 {
    width: 100%;
    height: 90%;
    z-index: -1;
}

.content{
    margin-top: 15%;
    z-index: 1;
    left: 0;
    background: rgba(104, 102, 102, 0.642);
    padding: 10px;
    top: 0;
    border-radius: 20px;
    border: 2px solid #d8cbcb;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
}

.div1, .div2, .div3{
	flex-wrap: wrap;
  justify-content: center;
  height: 30%;
}


.pdf-viewer-container {
      display: inline-block;
      width: 15%;
      padding-bottom: 2%; 
      vertical-align: top;
      position: relative;
      box-sizing: border-box;
      margin: 10px 10px;
      flex: 0 0 30%;
      border-radius: 5%;
      border: 2px solid #8be6e0e3;
      height: 30%;
    }

.pdf-viewer {
      width: 100%;
      height: 10%;
      border-radius: 5%;
      background-color: aquamarine;
}

.open-pdf {
      display: block;
      text-align: center;
      cursor: pointer;
      margin-top: 10%;
      color: rgb(28, 65, 212);
}

.login-options a {
    font-size: 20px; 
    font-weight: bold; 
    color: #050110fe; 
    border: 1px solid rgb(93, 199, 241);
    text-decoration: none;
    margin-left: 3.5%;
    border-radius: 5px;
    background-color: rgb(93, 199, 241);
  }
  
  .login-options a:hover {
    background-color: rgb(131, 241, 207);
    color: #2b1985; 
    border-style: outset;
  }
  
  .user-info button {
    font-size: 15px; 
    font-weight: bold; 
    color: #050110fe; 
    border: 1px solid rgb(93, 199, 241);
    text-decoration: none;
    margin-left: 10%;
    border-radius: 5px;
    background-color: rgb(93, 199, 241);
  }
  
  .user-info button:hover {
    background-color: rgb(131, 241, 207);
    color: #2b1985; 
    border-style: outset;
  }
