body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1{
    color:rgb(36, 6, 144);
}

.accordion {
    background-color: hwb(0 89% 7%);
    color: #242dac;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
    width: 100%; /* Chiều rộng cố định cho thẻ div */
    padding: 20px; /* Khoảng cách bên trong của thẻ div */
    display: flex; /* Sử dụng flexbox */
    justify-content: space-between; /* Chia đều khoảng cách giữa các div con */
    border-radius: 15px; /* Bo góc của thẻ div chính */
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(244, 233, 233);
    overflow: hidden;
  }
  

.accordion:after {
    content: '\2207';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\00A0";
  }

  .video-background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

/* Video toàn màn hình */
.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
